

body {
    height: 100vh;
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.nav-container {
    background: #C44536;

    a {
        color: #EDDDD4;
        text-decoration: none;
        font-size: 50px;
    }

    header {
        padding: 2em;
    }
}
